In [354]:
# importing all the  necessary libraries required for the project

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier, XGBRFClassifier
from xgboost import plot_tree, plot_importance
from sklearn.ensemble import AdaBoostClassifier

from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve
from sklearn import preprocessing
from sklearn.feature_selection import RFE

In [355]:
df=pd.read_csv('/content/matches.csv')
df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [356]:
df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [357]:
df=df[[  'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner']]
df

,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad
1,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant
2,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders
3,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab
4,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore
...,...,...,...,...,...,...,...
751,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians
752,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians
753,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals
754,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians

In [358]:
team_names=['Sunrisers Hyderabad',
            'Mumbai Indians',
          'Royal Challengers Bangalore',
       'Kolkata Knight Riders',
            'Delhi Capitals',
            'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals']

In [359]:
df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [360]:
df['team1']=df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
df['team2']=df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
df['team1']=df['team1'].str.replace('Deccan Charges','Sunrisers Hyderabad')
df['team2']=df['team2'].str.replace('Deccan Charges','Sunrisers Hyderabad')

In [361]:
df=df[df['team1'].isin(team_names)]
df=df[df['team2'].isin(team_names)]

In [362]:
df

,team1,team2,toss_winner,toss_decision,result,dl_applied,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad
4,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians
7,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians
...,...,...,...,...,...,...,...
751,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians
752,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians
753,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals
754,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians

In [363]:
le=LabelEncoder()

df['resultle']=le.fit_transform(df.result)

df=df[[ 'team1', 'team2', 'toss_winner',
       'toss_decision', 'resultle', 'winner']]
df

,team1,team2,toss_winner,toss_decision,resultle,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,1,Sunrisers Hyderabad
4,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,1,Royal Challengers Bangalore
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
7,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,1,Kings XI Punjab
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
...,...,...,...,...,...,...
751,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
752,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,1,Mumbai Indians
753,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,1,Delhi Capitals
754,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,1,Chennai Super Kings
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,1,Mumbai Indians

In [364]:
i=df[df['resultle']==0].index
df1=df.drop(i)
df1

,team1,team2,toss_winner,toss_decision,resultle,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,1,Sunrisers Hyderabad
4,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,1,Royal Challengers Bangalore
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
7,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,1,Kings XI Punjab
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
...,...,...,...,...,...,...
751,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,1,Mumbai Indians
752,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,1,Mumbai Indians
753,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,1,Delhi Capitals
754,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,1,Chennai Super Kings
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,1,Mumbai Indians

In [365]:
df1=df1.drop('resultle',axis='columns')
df1

,team1,team2,toss_winner,toss_decision,winner
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad
4,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,Royal Challengers Bangalore
6,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
7,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab
9,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
...,...,...,...,...,...
751,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,Mumbai Indians
752,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Mumbai Indians
753,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Delhi Capitals
754,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings
755,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians

In [366]:
mapping={'Sunrisers Hyderabad':1,'Mumbai Indians':2,'Royal Challengers Bangalore':3,'Kolkata Knight Riders':4,'Delhi Capitals':5,'Kings XI Punjab':6,'Chennai Super Kings':7,'Rajasthan Royals':8,'Delhi Daredevils':5}
df1['team1']=df1['team1'].replace(mapping)

In [367]:
df1['team2']=df1['team2'].replace(mapping)

In [368]:
df1['toss_winner']=df1['toss_winner'].replace(mapping)

In [369]:
df1['winner']=df1['winner'].replace(mapping)

In [370]:
df1['toss_decision']=le.fit_transform(df1.toss_decision)

In [371]:
df1.to_csv("matches1.csv")

In [372]:
y=df1['winner']
y

0      1
4      3
6      2
7      6
9      2
      ..
751    2
752    2
753    5
754    7
755    2
Name: winner, Length: 568, dtype: int64

In [384]:
X=df1[['team1','team2']]
X.head()

   team1  team2
0      1      3
4      3      5
6      4      2
7      3      6
9      1      2

In [385]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.05)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(539, 2)
(539,)
(29, 2)
(29,)

In [391]:
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(X_train,y_train)
y_pred2=model2.predict(X_test)
model2.score(X_test,y_test)

0.5862068965517241

In [387]:
model3=RandomForestClassifier()
model3.fit(X_train,y_train)
y_pred3=model3.predict(X_test)
model3.score(X_test,y_test)

0.5862068965517241